@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="~/Content/about.css">
<link href='https://fonts.googleapis.com/css?family=Playfair+Display|Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" style="position: relative; text-align: center; bottom: 200px;">
        <article class="card">
            <div class="card__wrapper">
                <div class="card__box" style="height: 450px;">
                    <header class="card__item card__header">
                        <h2 class="card__item card__item--small card__title">Background</h2>
                    </header>
                    <section class="card__item card__body">
                        <p>The 2011 census by Australian Bureau of Statistics(ABS) estimates that there are 105237 homeless people in Australia, of which 27% are under 18 years of age. Studies have shown that homelessness is damaging to the health and well-being of children, with constant mobility and uncertainty affecting their ability to learn and engage with school. Schooling and proper education is key to save them from the clutches of homelessness.</p>
                    </section>
                </div>

            </div>
        </article>
        <article class="card">
            <div class="card__wrapper">
                <figure class="card__feature">
                    <img src="~/Image/Poster.jpg" class="card__img" alt="Bridge" width="275" height="240">
                </figure>
                <div class="card__box">
                    <header class="card__item card__header">
                        <h2 class="card__item card__item--small card__title">What is TVK?</h2>
                    </header>
                    <section class="card__item card__body">
                        <p>“TVK” is short for "Teaching Vulnerable Kids" and it is a web based application which can be used by schools to potentially identify students who may fall into homelessness and provide information to teachers regarding support services currently available for such students.</p>
                    </section>
                </div>
            </div>
        </article>

        <article class="card" style="position: relative; top: 120px;">
            <div class="card__wrapper">
                <div class="card__box" style="height: 450px;">
                    <header class="card__item card__header">
                        <h2 class="card__item card__item--small card__title">Reference and Data Source</h2>
                    </header>
                    <section class="card__item card__body">
                        <p>
                            The following are the data sources referenced while building the application:

                            Homelessness Australia
                            Australian Bureau of Statistics' Summary of Findings on Homelessness(Census 2011)
                            Disclaimer: Most of the data used are part of the Census 2011. The latest was census conducted in 2016 and the findings are expected to be released in 2016 as per ABS website. It is believed that the current census data may be even more alarming in terms of homelessness. Team Y-Not has not mis represented any information, and all the information are taken from the data sources given above.
                        </p>
                    </section>
                </div>
            </div>
        </article>
    </div>
    <div class="col-md-1">
    </div>
</div>

