@{
    ViewBag.Title = "Contact";
}
<link rel="stylesheet" href="~/Content/contact.css" />
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-5">
        <div class="content">
            <div class="card1">
                <div class="firstinfo">
@*
                    <img src="~/Image/yang.jpg" />
*@
                    <div class="profileinfo">
                        <h1>Yang Deng</h1>
                        <h3 style="position: relative; left: 30px;"> Dev of Team Y-nots</h3>
                        <h3 style="position: relative; left: 30px; bottom: 17px;">  Master of IT, Monash University</h3>
                        <p class="bio" style="position: relative; left: 70px;">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>:cnyangdengau@hotmail.com<br>
                            <i class="fa fa-github" aria-hidden="true"></i>:github.com/fredrickdeng<br>
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>:linkedin.com/in/yang-deng-076823105
                            <br>
                        </p>
                    </div>
                </div>
            </div>
@*            <div class="badgescard">
                <span class="devicons devicons-django"></span><span class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span class="devicons devicons-javascript_badge"></span><span class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span class="devicons devicons-sass"> </span>
            </div>*@
            <br>
            <br>
            <br>
            <br>
            <div class="card2">
                <div class="firstinfo">
                    <div class="profileinfo">
                        <h1>Roshan Krishnan Thirikkott</h1>
                        <h3 style="position: relative; left: 40px;"> Dev of Team Y-nots</h3>
                        <h3 style="position: relative; left: 40px;bottom: 17px;">  Master of IT, Monash University</h3>
                        <p class="bio" style="position: relative; left: 100px;">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>:roshankrishnan7@gmail.com<br>
                            <i class="fa fa-github" aria-hidden="true"></i>:github.com/roshankrishnan7<br>
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>:linkedin.com/in/roshankrishnanthirikkott
                            <br>
                        </p>
                    </div>
                </div>
            </div>
@*            <div class="badgescard">
                <span class="devicons devicons-django"></span><span class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span class="devicons devicons-javascript_badge"></span><span class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span class="devicons devicons-sass"> </span>
            </div>*@
        </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
        <div class="content">
            <div class="card3">
                <div class="firstinfo">
                    <div class="profileinfo">
                        <h1>Cary Liu</h1>
                        <h3 style="position: relative; left: 30px;"> BA of Team Y-nots</h3>
                        <h3 style="position: relative; left: 30px; bottom: 17px;">  Master of BIS, Monash University</h3>
                        <p class="bio" style="position: relative; left: 60px;">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>:yliu710@student.monash.edu<br>
                            <i class="fa fa-facebook" aria-hidden="true"></i>:facebook.com/yongfang.liu.98<br>
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>:yongfangliu
                            <br>
                        </p>
                    </div>
                </div>
            </div>
@*            <div class="badgescard">
                <span class="devicons devicons-django"></span><span class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span class="devicons devicons-javascript_badge"></span><span class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span class="devicons devicons-sass"> </span>
            </div>*@
            <br>
            <br>
            <br>
            <br>
            <div class="card4">
                <div class="firstinfo">
                    <div class="profileinfo">
                        <h1>Weihan Wang</h1>
                        <h3 style="position: relative; left: 30px;"> BA of Team Y-nots</h3>
                        <h3 style="position: relative; left: 30px; bottom: 17px;">  Master of BIS, Monash University</h3>
                        <p class="bio" style="position: relative; left: 60px;">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>:wangweihan1992@gmail.com<br>
                            <i class="fa fa-facebook" aria-hidden="true"></i>:wwhwoqu@hotmail.com<br>
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>:weihan wang
                            <br>
                        </p>
                    </div>
                </div>
            </div>
@*            <div class="badgescard">
                <span class="devicons devicons-django"></span><span class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span class="devicons devicons-javascript_badge"></span><span class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span class="devicons devicons-sass"> </span>
            </div>*@
        </div>
    </div>
</div>
